@import 'footer';

$colorFondo: rgb(34, 33, 54);

/* Inicio estilo body */
body { 
    background-color: $colorFondo;
}
/* Fin estilo body */

/* Inicio estilo Títulos */
#logo {
    grid-area: logo;
    width: 100%;
    height: auto;
    img {
        display: flex;
        margin: auto;
    }
}
/* Fin estilo Títulos */

/* Inicio Estilos Descarga */

$colorBanda: (
    asphix: red,
    annabelle: blue,
    mensaka: green,
);

@each $nombre, $valor in $colorBanda {
    .color-#{$nombre} {
        color: $valor;
    }
}

.estilo {
    display: block;
    margin: auto;
    width: 240px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.estilo--negro {
    @extend .estilo;
    background-color: black;
    color: white;
}

@mixin novedades {
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none
}

.novedades--negro {
    @include novedades;
    background-color: black;
}

@mixin novedades ($col, $bg) {
    display: block;
    margin: auto;
    padding: 10px;
    color: $col;
    background: $bg;
    text-decoration: none;
    width: 185px;
}

.novedades--rojo {
    @include novedades (white, red)
}

/* Fin Estilo Descargas */